<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='/css/app.css' }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300">
        <script defer src="{{ mix src='/js/app.js' }}"></script>
    </head>
    <body>
        <div id="app">
            <div class="wrapper">
                <the-header></the-header>

                <div class="flex flex-col-reverse lg:flex-row grow">
                    <main>
                        <div class="content">
                            {{ template_content }}
                        </div>
                    </main>

                    <section class="lg:w-2/5 border-l border-gray-200">
                        {{ partial:about }}
                    </section>
                </div>

                <the-footer></the-footer>
            </div>
        </div>
    </body>
</html>
