<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script defer src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body>
        <div id="app">
            <div class="wrapper">
                <header>
                    {{ partial:layout/header }}
                </header>

                <div class="flex">
                    <aside class="sidebar">
                        {{ partial:layout/sidebar }}
                    </aside>

                    <main>
                        <div class="content">
                            {{ template_content }}
                        </div>
                    </main>
                </div>

                <footer>
                    {{ partial:layout/footer }}
                </footer>
            </div>
        </div>
    </body>
</html>
