@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    body {
        font-family: 'Raleway', sans-serif;
    }

    h1 {
        @apply text-5xl text-primary tracking-wide;
        font-family: 'Merriweather', serif;
    }

    h2 {
        @apply text-3xl text-primary tracking-wide;
        font-family: 'Merriweather', serif;
    }

    h3 {
        @apply text-2xl text-primary tracking-wide;
        font-family: 'Raleway', sans-serif;
    }

    p {
        margin-bottom: 28px;
    }

    .post-body {
        @apply text-gray-900 text-lg leading-relaxed;
    }

    .wrapper {
        @apply min-h-screen antialiased flex flex-col;
    }

    header {
        /*@apply bg-blue-400;*/
    }

    .sidebar {
        @apply bg-blue-200 p-4 hidden lg:block w-96;
    }

    main {
        @apply mx-auto bg-purple-100 grow;
    }

    .content {
        @apply w-full sm:w-3/4 mx-auto bg-white p-16;
    }

    footer {
        @apply bg-purple-200 flex justify-center p-4;
    }

    .logo {
        @apply h-32;
        object-fit: contain;
    }
}

@layer components {
    .post-preview {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .preview-image {
        @apply h-80 w-full object-cover;
    }

    .tag {
        @apply text-gray-800 text-sm border border-secondary rounded-lg p-2;
    }

    .comment {
        @apply text-gray-700 leading-relaxed text-sm border border-secondary rounded-md p-4;
    }

    .nav-link {
        @apply p-2 uppercase font-semibold tracking-wide text-primary hover:text-primary-accent hover:border-primary-accent hover:border-b hover:border-primary;
    }

    .btn-default {
        @apply inline-flex items-center px-4 py-2 bg-primary border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-primary-accent active:bg-primary-accent focus:outline-none focus:bg-primary-accent transition ease-in-out duration-300;
    }

    .btn-success {
        @apply inline-flex items-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-green-500 active:bg-green-700 focus:outline-none focus:border-green-700 transition ease-in-out duration-300;
    }
}

@layer utilities {
}
