<div class="post post-details">
    <post-item>
        <article>
            {{ if header_image }}
                <figure>
                    <img
                        src="{{ header_image }}"
                        alt="Header afbeelding"
                        class="featured-image"
                    >

                    {{ if caption }}
                        <figcaption>{{ caption }}</figcaption>
                    {{ /if }}
                </figure>
            {{ /if }}

            <div class="post-date mt-8">
                {{ date format_localized="%A %e %B %Y" ucfirst="true" }}
            </div>

            <h1 class="mt-16">
                {{ title }}
            </h1>

            <section class="post-body mt-16">
                {{ body }}
                    {{ text }}
                {{ /body }}
            </section>

            {{ if source }}
                <div class="post-source mt-8">
                    Bron: {{ source }}
                </div>
            {{ /if }}

            {{ if tags }}
                <section class="text-center mt-8">
                    {{ tags }}
                        <a
                            href="{{ url }}"
                            class="tag-item {{ unless last }}mr-2{{ /unless }}"
                        >
                            #{{ title }}
                        </a>
                    {{ /tags }}
                </section>
            {{ /if }}

            <div class="text-right mt-32">
                <a
                    href="{{ homepage }}"
                    class="button button-default"
                >
                    {{ current_uri }}
                </a>
            </div>

            <div class="py-12">
                <hr>
            </div>
        </article>
    </post-item>

    <comment-section :post-uuid="{{ id | to_json | entities }}"></comment-section>
</div>
