<article>
    {{ if header_image }}
        <figure>
            <img
                src="{{ header_image }}"
                alt="Header afbeelding"
                class="blogpost-details-header-image"
            >

            {{ if caption }}
                <figcaption>{{ caption }}</figcaption>
            {{ /if }}
        </figure>
    {{ /if }}

    <section class="flex justify-end">
        <div>
            {{ date format_localized="%A %e %B %Y" ucfirst="true" }}
        </div>
    </section>

    <h1 class="mt-4">{{ title }}</h1>

    <section class="post-body mt-12">
        {{ body }}
            {{ text }}
        {{ /body }}
    </section>

    {{ if source }}
        <section class="blogpost-details-source">
            Bron: {{ source }}
        </section>
    {{ /if }}

    {{ if tags }}
        <section class="blogpost-details-tags">
            {{ tags }}
            <a
                href="{{ url }}"
                class="tag-item {{ unless last }}mr-2{{ /unless }}"
            >
                {{ title }}
            </a>
            {{ /tags }}
        </section>
    {{ /if }}

    <div class="text-center">
        <a
            href="{{ homepage }}"
            class="btn-default"
        >
            Terug naar overzicht
        </a>
    </div>

    <div class="py-12">
        <hr class="hr-primary">
    </div>
</article>

<comment-section :post-uuid="{{ id | to_json | entities }}"></comment-section>
